[Desktop Entry]
Name=iNitiator
GenericName=iNitiator
Comment=Begin with some good programs
Exec=initiator
Terminal=false
Type=Application
/opt//initiator-initiator-1.3/./initiator.png
Categories=System;
Keywords=ezgui;installer;systeminstaller;system;programs;
